<div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-20 px-4 md:px-16 items-center">
  <!-- Text Block -->
  <div class="md:col-span-2 flex flex-col justify-center space-y-4">
    <p class="text-white font-serif text-3xl md:text-5xl">
      Hi, I am <span class="bg-cyan-100 text-blue-900">Agastya Singh</span>
    </p>

    <p class="profile text-white font-serif text-2xl md:text-4xl flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 md:w-6 md:h-6 mr-2" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m16.49 12 3.75 3.75m0 0-3.75 3.75m3.75-3.75H3.74V4.499" />
      </svg>
      <span class="bg-cyan-100 text-blue-900 text-xl md:text-3xl">Data Engineer</span>
    </p>

    <p class="profile text-white font-serif text-2xl md:text-4xl flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 md:w-6 md:h-6 mr-2" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="m16.49 12 3.75 3.75m0 0-3.75 3.75m3.75-3.75H3.74V4.499" />
      </svg>
      <span class="bg-cyan-100 text-blue-900 text-xl md:text-3xl">Backend Java Developer</span>
    </p>
  </div>

  <!-- Image Block -->
  <div class="md:col-span-2 flex justify-center mt-6 md:mt-0">
    <div class="w-full md:w-[90%] h-48 md:h-64 rounded-3xl overflow-hidden shadow-lg brightness-75">
      <img src="/assets/hero-bg.jpg" alt="Profile" class="w-full h-full object-cover" id="heroImg" />
    </div>
  </div>
</div>


<section id="about" class="py-20 px-6  text-white mt-30">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center space-y-10 md:space-y-0 md:space-x-12">
    <!-- Profile Image -->
    <div class="w-full md:w-1/3 flex justify-center mt-8" id="about-photo">
      <img src="/assets/portrait.jpg" alt="My Photo"
        class="rounded-full shadow-[0_8px_30px_rgba(255,255,255,0.2)] w-full max-w-xs object-cover" />
    </div>

    <!-- Text Content - Added container for text lines -->
    <div class="w-full md:w-2/3 space-y-6" id="about-text">
      <h2 class="text-4xl font-bold text-blue-300">About Me</h2>
      <div class="about-content">
        <p class="text-lg leading-relaxed text-gray-300 about-line">
          I'm a backend developer and data engineer, passionate about crafting scalable solutions.
        </p>
        <p class="text-lg leading-relaxed text-gray-300 about-line">
          Currently at Niine Pvt. Ltd., I design secure Spring Boot APIs and automate ETL pipelines using Snowflake and
          AWS.
        </p>
        <p class="text-lg leading-relaxed text-gray-300 about-line">
          My work integrates systems like SAP, Salescode, and FieldAssist into live analytics dashboards, saving hours
          of manual effort.
        </p>
        <p class="text-lg leading-relaxed text-gray-300 about-line">
          Previously, I built open-source logistics tools with Quarkus, Docker, and Angular at CargoFlash Infotech.
        </p>
        <p class="text-lg leading-relaxed text-gray-300 about-line">
          Skilled in Java, Angular, EC2, and data engineering, I thrive on solving real-world problems through code.
        </p>
        <p class="text-lg leading-relaxed text-gray-300 about-line">
          Outside of work, I play football, sketch, binge-watch and make perfect coffee.
        </p>

      </div>
    </div>
  </div>
</section>


<section id="work" class="mt-19">
  <div class="parent2">
    <div class="div1 flex justify-center gap-2">
      <div class="h-px w-100 bg-white mt-4"></div>
      <p class="text-white font-extrabold text-2xl">WORK</p>
      <div class="h-px w-100 bg-white mt-4"></div>
    </div>
  </div>

  <div class="loaded grid grid-cols-1 md:grid-cols-3 gap-6 px-6 py-10 mt-9" id="skill-card"
    style="view-timeline-name: --skillTimeline; view-timeline-axis: block;">

    <!-- Card 1 -->
    <div class="bg-gray-800 hover:bg-white rounded-xl shadow-lg p-5 text-center text-white hover:text-blue-900 transition-colors duration-200 inset-shadow-sm 
    inset-shadow-cyan-500/50 group animate-card">
      <div class="text-2xl mb-4 group-hover:text-blue-900">📥⚙️➡️📊</div>
      <h2 class="text-xl font-semibold mb-2 group-hover:text-blue-900">Extract-Transform-Load (ETL) Pipelines</h2>
      <p class="mb-4 text-gray-200 group-hover:text-blue-900 text-sm">
        Extracting data from numerous sources, transforming structure<br />
        and performing data warehousing.
      </p>
      <p class="text-blue-600 hover:text-blue-900 font-medium underline cursor-pointer mb-1 group-hover:text-blue-900">
        Languages/Tools I Used:
      </p>
      <p class="text-gray-500 group-hover:text-blue-900">Python, EC2, Linux, SQL, Snowflake, S3</p>
    </div>

    <!-- Card 2 -->
    <div class="bg-gray-800 hover:bg-white rounded-xl shadow-lg p-5 text-center text-white hover:text-blue-900 transition-colors duration-200 inset-shadow-sm 
    inset-shadow-cyan-500/50 group animate-card">
      <div class="text-2xl mb-4 group-hover:text-blue-900">&lt;/&gt;</div>
      <h2 class="text-xl font-semibold mb-2 group-hover:text-blue-900">API Development</h2>
      <p class="mb-4 text-gray-200 group-hover:text-blue-900 text-sm">
        Built secure API service and authentication layer based on JWT to integrate DMS,
        Salescode, and SAP systems.<br />
        Automated data flow to enhance performance and deployed the application on AWS.
      </p>
      <p class="text-blue-600 hover:text-blue-900 font-medium underline cursor-pointer mb-1 group-hover:text-blue-900">
        Languages/Tools I Used:
      </p>
      <p class="text-gray-500 group-hover:text-blue-900">Spring-Boot, Java, EC2, Linux</p>
    </div>

    <!-- Card 3 -->
    <div class="bg-gray-800 hover:bg-white rounded-xl shadow-lg p-5 text-center text-white hover:text-blue-900 transition-colors duration-200 inset-shadow-sm 
    inset-shadow-cyan-500/50 group animate-card">
      <div class="text-2xl mb-4 group-hover:text-blue-900">🌐</div>
      <h2 class="text-xl font-semibold mb-2 group-hover:text-blue-900">Open Source R&D</h2>
      <p class="mb-4 text-gray-200 group-hover:text-blue-900 text-sm">
        Researched & Developed on Ne:One, an open-source IATA ONE Record solution
        built on Quarkus with Docker, Keycloak, GraphDB, and Redis.
        Enabled cost-effective logistics tracking and laid the foundation
        for future system enhancements.
      </p>
      <p class="text-blue-600 hover:text-blue-900 font-medium underline cursor-pointer mb-1 group-hover:text-blue-900">
        Languages/Tools I Used:
      </p>
      <p class="text-gray-500 group-hover:text-blue-900">Java, Docker, Quarkus, GraphDB, Keycloak</p>
    </div>

    <!-- Card 4 -->
    <div class="bg-gray-800 hover:bg-white rounded-xl shadow-lg p-5 text-center text-white hover:text-blue-900 transition-colors duration-200 inset-shadow-sm 
    inset-shadow-cyan-500/50 group animate-card">
      <div class="text-2xl mb-4 group-hover:text-blue-900">🖧</div>
      <h2 class="text-xl font-semibold mb-2 group-hover:text-blue-900">Scalable ETL & API Optimization</h2>
      <p class="mb-4 text-gray-200 group-hover:text-blue-900 text-sm">
        Built a streaming-based Java (8.0) service layer to handle large-scale data extraction
        with robust error handling.<br />
        Optimized ETL workflows between Snowflake and S3, cutting processing time by 40%
        for APIs and reports.
        and performing data warehousing.
      </p>
      <p class="text-blue-600 hover:text-blue-900 font-medium underline cursor-pointer mb-1 group-hover:text-blue-900">
        Languages/Tools I Used:
      </p>
      <p class="text-gray-500 group-hover:text-blue-900">Python, Java, EC2, STS 4.0, Snowflake, S3</p>
    </div>

    <!-- Card 5 -->
    <div class="bg-gray-800 hover:bg-white rounded-xl shadow-lg p-5 text-center text-white hover:text-blue-900 transition-colors duration-200 inset-shadow-sm 
    inset-shadow-cyan-500/50 group animate-card">
      <div class="text-2xl mb-4 group-hover:text-blue-900">🛠️📡</div>
      <h2 class="text-xl font-semibold mb-2 group-hover:text-blue-900">CI/CD-Driven Data Integrity Pipeline</h2>
      <p class="mb-4 text-gray-200 group-hover:text-blue-900 text-sm">
        Engineered a CI/CD pipeline to monitor data integrity in Snowflake using advanced SQL checks
        and external APIs. Leveraged AWS API Gateway, Lambda (Python), and SNS to automate real-time
        discrepancy alerts via email notifications.
      </p>
      <p class="text-blue-600 hover:text-blue-900 font-medium underline cursor-pointer mb-1 group-hover:text-blue-900">
        Languages/Tools I Used:
      </p>
      <p class="text-gray-500 group-hover:text-blue-900">SQL, Python, AWS: API Gateway+SNS+Lambda, Snowflake</p>
    </div>

    <!-- Card 6 -->
    <div class="bg-gray-800 hover:bg-white rounded-xl shadow-lg p-5 text-center text-white hover:text-blue-900 transition-colors duration-200 inset-shadow-sm 
    inset-shadow-cyan-500/50 group animate-card">
      <div class="text-2xl mb-4 group-hover:text-blue-900">🪪🏛️</div>
      <h2 class="text-xl font-semibold mb-2 group-hover:text-blue-900">IdP-Client Architecture</h2>
      <p class="mb-4 text-gray-200 group-hover:text-blue-900 text-sm">
        Architected and implemented a secure IdP-Client authentication framework in NIC using Java,
        JSP, Servlets, and JDBC. Integrated SAML 2.0 protocol for federated identity, encryption at IdP,
        and decryption at the client to meet e-Gov standards.
      </p>
      <p class="text-blue-600 hover:text-blue-900 font-medium underline cursor-pointer mb-1 group-hover:text-blue-900">
        Languages/Tools I Used:
      </p>
      <p class="text-gray-500 group-hover:text-blue-900">Java, REST, Maven, SAML 2.0</p>
    </div>

  </div>
</section>

<div class="parent2 text-center">
    <div class="div1 flex justify-center gap-2 mt-10">
      <div class="h-px w-100 bg-white mt-4"></div>
      <p class="text-white font-extrabold text-2xl">Systems / Pipelines</p>
      <div class="h-px w-100 bg-white mt-4"></div>
    </div>
    <p class="text-lg text-gray-400 subtitle">Some of the Systems and Pipelines I've Built, Checkout my <a href="https://github.com/agastyasingh"
      class="hover:cursor-pointer hover:underline">GitHub</a></p>
</div>

<app-observer-carousel></app-observer-carousel>


<section id="tools" class="mt-8">
  <div class="parent3">
    <div class="div1 flex justify-center mt-11 gap-2">
      <div class="h-px w-100 bg-white mt-4"></div>
      <p class="text-white font-extrabold text-2xl">TOOLS</p>
      <div class="h-px w-100 bg-white mt-4"></div>
    </div>
  </div>


  <div class="parent4 mt-5">
    <div class="div1">
      <div class="relative w-full overflow-hidden py-8">
        <div class="carousel-wrapper">
          <div class="carousel">
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
                alt="Java"></div>
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
                alt="Spring Boot"></div>
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
                alt="Docker"></div>
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                alt="Git"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
                alt="Angular"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg"
                alt="SQL"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" alt="Linux">
            </div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kubernetes/kubernetes-original-wordmark.svg"
                alt="Kubernetes"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/quarkus/quarkus-plain-wordmark.svg"
                alt="Quarkus"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
                alt="AWS"></div>
            <div class="logo"><img src="https://www.vectorlogo.zone/logos/snowflake/snowflake-ar21.svg" alt="Snowflake">
            </div>

            <!-- duplicated set for seamless looping -->
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
                alt="Java"></div>
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
                alt="Spring Boot"></div>
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
                alt="Docker"></div>
            <div class="logo"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
                alt="Git"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
                alt="Angular"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg"
                alt="SQL"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" alt="Linux">
            </div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kubernetes/kubernetes-original-wordmark.svg"
                alt="Kubernetes"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/quarkus/quarkus-plain-wordmark.svg"
                alt="Quarkus"></div>
            <div class="logo"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
                alt="AWS"></div>
            <div class="logo"><img src="https://www.vectorlogo.zone/logos/snowflake/snowflake-ar21.svg" alt="Snowflake">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="email" class="min-h-screen flex items-center justify-center px-4 mt-25">
  <div
    class="bg-[#1b263b] p-8 rounded-xl shadow-md w-full max-w-5xl space-y-8 inset-shadow-sm inset-shadow-indigo-500/50"
    style="font-family: times, Times New Roman, times-roman, georgia, serif;">

    <h2 class="text-3xl font-semibold text-white text-center" style="letter-spacing: 2px; word-spacing: 3px;">Email Me
    </h2>

    <div class="flex flex-col md:flex-row items-center justify-center space-y-8 md:space-y-0 md:space-x-8">

      <div class="w-full md:w-1/2 flex justify-center">
        <div
          class="wrapper hover:cursor-pointer rounded-md rounded-md rounded-md shadow-[0_8px_30px_rgba(255,255,255,0.25)]">
          <div class="lid one rounded-md"></div>
          <div class="lid two rounded-md"></div>
          <div class="envelope rounded-md"></div>
          <div class="letter">
            <p>Don't Hover, <br>Send the mail!📬👉🏻<br> It Works✅️✅️ <br>No Cap❌🧢</p>
          </div>
        </div>
      </div>

      <div class="w-full md:w-1/2 space-y-6 mt-3">
        <form (ngSubmit)="onSubmit($event)" action="https://formspree.io/f/xrbqrgbb" method="POST" class="space-y-4">

          <div>
            <label class="block text-white mb-2" for="name">Name</label>
            <input type="text" id="name" name="name" required
              class="w-full px-4 py-2 bg-[#0d1b2a] text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
          </div>

          <div>
            <label class="block text-white mb-2" for="email">Email</label>
            <input type="email" id="email" name="email" required
              class="w-full px-4 py-2 bg-[#0d1b2a] text-white border border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />
          </div>

          <div>
            <label class="block text-white mb-2" for="reason">Purpose</label>
            <textarea id="reason" name="reason" rows="4" required [(ngModel)]="hirePurpose" class="w-full px-4 py-2 bg-[#0d1b2a] text-white border border-gray-600 rounded-md focus:outline-none 
              focus:ring-2 focus:ring-blue-400">
            </textarea>
          </div>
          <button type="submit" [disabled]="isSubmitting"
            class="w-full py-2 px-4 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition duration-200 hover:cursor-pointer disabled:bg-gray-400">
            {{ isSubmitting ? 'Sending...' : 'Send' }}
          </button>

          <div *ngIf="submitSuccess" class="p-4 bg-green-100 text-green-700 rounded-md">
            Thank you! Your message has been sent successfully.
          </div>

          <div *ngIf="submitError" class="p-4 bg-red-100 text-red-700 rounded-md">
            There was an error submitting your form. Please try again.
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

<div id="hire-button-wrapper">
  <button #hireButton class="btn text-lg" (click)="openModal()">Hire Me?</button>
</div>

<div class="modal-backdrop bg-[#041525]" *ngIf="showModal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2 class="text-2xl">What'd You Want 2 hire me for?</h2> <br>
    <ul>
      <a href="#email">
        <li (click)="HirePurposeWebsite('For Building The Website', 'Business Name: ', 'Contact: ')"
          class="hover:cursor-pointer text-xl hover:text-blue-200 hover:underline hover:underline-offset-3 hover:drop-shadow"
          (click)="closeModal()">&nbsp;➜ For Building Your Website 💻</li><br>
      </a>
      <a href="#email">
        <li (click)="HirePurposeJob('Job Offer', 'Company: ', 'Position: ', 'Profile: ')" (click)="closeModal()"
          class="hover:cursor-pointer text-xl hover:text-blue-200 hover:underline hover:underline-offset-3 hover:drop-shadow">
          &nbsp;➜ Job Offer 💼🤝🏽</li>
      </a>
    </ul><br>
    <button class="hover:cursor-pointer hover:text-red-500" (click)="closeModal()">Close</button>
  </div>
</div>